body {
  padding: 0; /*обнуляем всегда*/
  margin: 0;  /*обнуляем всегда*/
  color: #000000; /*цвет шрифта*/
  font-size: 25px;  /*размер шрифта*/
  font-family: 'Montserrat', serif; /*включение шрифта*/
  font-weight: 400;
}

.conteiner {
  width: 1110px;
  margin: 0 auto; /**/
  display: flex; /*распределяет элементы по краям и по всему блокупоровну*/
  justify-content: space-between; /*распределяет элементы по краям и по всему блоку поровну поровну*/
  align-items: center; /* выставляет элементы по середине блока*/
  /*border: 1px solid red;*/
}

a {
  color: #000;   /*меняем цвет ссылок*/
  text-decoration: none;   /*убираем нижнее подчеркивание*/
}


.header {
  width: 1920px; /*Задаем ширину главной страницы (1 по счету)*/
  height: 1080px; /*Задаем высоту главной страницы (1 по счету)*/
  padding-top: 49px; /*отступаем от верхней границы*/
  display: flex;
  justify-content: space-between;
  background: url(../img/fon.png) no-repeat center top / cover #3ABDF5; /**/
}

.vector2 {
  margin-top: auto; /*спускаем изображение в самый низ (макс отступаем от потолка)*/
}

.vector3 {
  margin-top: auto;
}

.logo {
  width: 154px;
  display: flex;
  justify-content: space-between;
  align-items: center; /*выстраивает иконку и строку в одну линию*/
}

.contact {
  width: 525px;
  display: flex;
  justify-content: space-between;
}

.window {
  padding-top: 85px; /* отступаем от conteiner*/
  margin: 0 auto;
  width: 1111px;
  display: flex;
  justify-content: space-between;
}

.zagol {
  font-size: 50px;
  font-weight: 600;
}


.section1 { /* Эти блоки нужно использовать для остального сайта (кроме начального окна и конечного окна) + их может быть несколько*/
  width: 1920px;
  height: 1080px;
  background: url(../img/fon.png) no-repeat center top / cover #3ABDF5;
}

.footer {
  width: 1920px;
  height: 1080px;
  background: #FFFFFF;
}
